{% extends 'core/base.html' %}
{% load static %}

{% block tile %} My account {% endblock%}

{% block content %}
<div class="py-6 px-6">
    <h1 class="mb-6 py-4 px-4 text-xl"> My account </h1>

    <p class="mb-2">
        <strong>Username: </strong> {{ request.user.username }}
    </p>

    <hr class="mb-4">

    <!-- ✅ POST 방식 로그아웃 버튼 -->
    <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        
        <button type="submit" class="inline-block py-4 px-6 bg-red-600 rounded-xl text-white">
            로그아웃</button>

    </form>
</div>
{% endblock %}